In [130]:
#1.  Add a list of elements to a set
num_set1 = {1,2,3,7,5,8,9,14,15,18,49,50}
num_list1 = [2,4,6,8,10,12,14,16,18]

In [131]:
# Update function to update both sets and list
num_set1.update(num_list1)

In [132]:
print(num_set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 49, 18, 50}

In [133]:
#2: Return a new set of identical items from two sets

num_set2 = {5,6,7,8,9,10,12,13}

#Using intersection function to identify the intersection of two sets
print(num_set1.intersection(num_set2))

{5, 6, 7, 8, 9, 10, 12}

In [134]:
#3: Get unique items from two sets

#Using symmetric difference function to identify the unique items from two of the sets
print(num_set1.symmetric_difference(num_set2))

{1, 2, 3, 4, 13, 14, 15, 16, 49, 18, 50}

In [135]:
#4: Update the first set with items that don’t exist in the second set

#Using difference update function to identify the unique items that don’t exist in the second set
print(num_set1.difference_update(num_set2))

None

In [136]:
print(num_set1)

{1, 2, 3, 4, 14, 15, 16, 49, 18, 50}

In [137]:
#5: Remove items from the set at once

##Using difference update function to remove the items from set1

print(num_set1.difference_update({14,15}))

None

In [138]:
print(num_set1)

{1, 2, 3, 4, 16, 18, 49, 50}

In [139]:
num_set2.update({12,18,50})

In [143]:
#6: Return a set of elements present in Set A or B but not both

#Using symmetric difference function to return the items from set1 and set2 but not both
print(num_set1.symmetric_difference(num_set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 16, 49}

In [144]:
#7: Check if the two sets have any elements in common. If yes, display the common elements.

#Using intersaction function to return the items from set1 and set2 which is common
print(num_set1.intersection(num_set2))

{18, 50}

In [146]:
#8: Update set1 by adding items from set2, except common items

#Using symmetric difference function to update set1 and set2 except the common items
num_set1.symmetric_difference_update(num_set2)
print(num_set1)

{1, 2, 3, 4, 16, 18, 49, 50}

In [159]:
#9: Remove items from set1 that are not common to both set1 and set2

#Using symmetric difference function to remove items from  set1 and set2 that are not common in both sets
num_set1.symmetric_difference_update(num_set2)
print(num_set1)

{1, 2, 3, 4, 7, 5, 6, 16, 8, 9, 10, 13, 12, 49}